// HERO

.home {
    .jumbotron {
        height: 90vh;
        padding-top: 106px;
        border-radius: 0;
        background-image: url('../img/mountains.png');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
    }
}