<footer class="footer container">
  <div class="row">
    <div class="col-md-4 d-flex justify-content-center align-items-center">
      <div  class="text-center">
        <h2>Volg ons op</h2>
        <p>
          Blijf altijd op de hoogte!
        </p>
        <div class="icon-wrapper d-flex">
          <a class="btn btn-outline-primary d-flex justify-content-center align-items-center" href="#" role="button"
            ><img src="../../assets/svg/icon-facebook.svg"
          /></a>
          <a class="btn btn-outline-primary d-flex justify-content-center align-items-center" href="#" role="button"
            ><img src="../../assets/svg/icon-youtube.svg"
          /></a>
          <a class="btn btn-outline-primary d-flex justify-content-center align-items-center" href="#" role="button"
            ><img src="../../assets/svg/icon-pinterest.svg"
          /></a>
          <a class="btn btn-outline-primary d-flex justify-content-center align-items-center" href="#" role="button"
            ><img src="../../assets/svg/icon-instagram.svg"
          /></a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center align-items-center">
      <a class="navbar-brand" href="#">
        <img src="assets/img/logo.svg" />
      </a>
    </div>
    <div class="col-md-4 d-flex justify-content-center align-items-center">
      <div class="text-center">
        <h2>Contact</h2>
        <p>
          Heb jij een vraag?
        </p>
        <div>
          <a class="btn btn-outline-primary" href="#" role="button">FAQ</a>
          <a class="btn btn-outline-primary" href="#" role="button">Contact</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center footer-bottom-links">
    <a href="#">Privacybeleid</a>
    <a href="#">Algemene voorwaarden</a>
    <a href="#">Cookiebeleid</a>
  </div>
</footer>
